@using NewYearEve.resx.model
@using NewYearEve.resx.view




@model GuestResponse
<h1 class="text-center">@resx_view_Invite.NewInvite</h1>
<form method="post" asp-action="Invite" asp-antiforgery="true" asp-controller="Home">
    <div asp-validation-summary="All"></div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(x => x.Name)
        <input type="text" asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(x => x.Email)
        <input type="email" asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(x => x.Phone)
        <input type="tel" asp-for="@Model.Phone" class="form-control" />
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(x => x.WillAttend)
        <select asp-for="@Model.WillAttend" class="form-control">
            <option value="">@resx_view_Invite.UndefinedOption</option>
            <option value="@true.ToString()">@resx_view_Invite.YesOption</option>
            <option value="@false.ToString()">@resx_view_Invite.DeclineOption</option>

        </select>
    </div>
    <div class="mb-3 mt-3">
        <input type="submit" value="@resx_view_Invite.Label_Save" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">@resx_view_Invite.Label_Cancel</a>
    </div>
    


</form>

